<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/search.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/js/search.js"></script>
</head>
<body>

    <div id="app" class="container">

        <div class="row justify-content-center">
           <div class="col-10">
               <div class="row form-padding-top">
                    <div class="remove-padding col-10">
                        <input :disabled="!!searching" v-model="name" type="text" class="form-control " id="inlineFormInput" placeholder="Company name">
                    </div>
                    <div class="remove-padding col-2">
                        <button type="submit" class="btn btn-primary col-12"  :disabled="!!searching || name.length<2"  v-on:click="search">
                            <span v-if="searching">Searching...</span>
                            <span v-else>Search</span>
                        </button>
                    </div>
                   <div id="result" class="result-container remove-padding col-12">
                       <result :list="list" :name="name" :searching="searching" :searched="searched"></result>
                   </div>

               </div>
            </div>

        </div>
    </div>

<script id="result-template" type="text/html">
    <div>
        <p v-if="name.length<2">
            <b>At least 2 characters</b>
        </p>
        <div v-if="searched">
            <div v-if="list.length == 0 && !searching" class="no-result-container">
                No result found
            </div>
            <div v-else class="remove-padding col-12">
                <div v-for="company in list" class="alert alert-dark" role="alert">
                    <h2 class="title-result">{- company.name -}</h2>
                    {- company.number -}<br />
                    {- company.address1 -}, {- company.address2 -}, {- company.post_town -}, {- company.country -}, {- company.postcode -}
                </div>
            </div>
        </div>
    </div>
</script>

</body>
</html>
