.remove-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.form-padding-top{
    margin-top: 50px;
}
.result-container{
    margin-top: 10px;
}
.no-result-container{
    text-align: center
}
.title-result{
    text-decoration: underline;
    font-weight: bold;
    color: gray;
}